.contactForm {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  gap: 10px;
}

.contactForm__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contactForm__text {
}
.contactForm__input {
}

.contactForm__button {
  margin-left: auto;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
}
